Django==5.2.14
django-allauth[socialaccount]
PyJWT
requests
daphne
channels
channels-redis
celery
redis
dj-database-url
psycopg2-binary
google-generativeai
openai
PyPDF2
python-docx
python-dotenv
whitenoise
gunicorn
